Filtering values out of dataset that are not continuous. Also changed the target values to 1 and 0 for graduated/enrolled and dropout respectively.

In [5]:
import numpy as np
import pandas as pd

In [ ]:
# Importing raw data set of student dropout and academic successe
raw_data = pd.read_csv('data/data.csv')
print(raw_data)

     Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0     1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1     1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...
2     1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0...
3     1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;...
4     2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;...
...                                                 ...
4419  1;1;6;9773;1;1;125.0;1;1;1;5;4;122.2;0;0;0;1;1...
4420  1;1;2;9773;1;1;120.0;105;1;1;9;9;119.0;1;0;1;0...
4421  1;1;1;9500;1;1;154.0;1;37;37;9;9;149.5;1;0;0;1...
4422  1;1;1;9147;1;1;180.0;1;37;37;7;4;153.8;1;0;0;1...
4423  1;10;1;9773;1;1;152.0;22;38;37;5;9;152.0;1;0;0...

[4424 rows x 1 columns]

In [10]:
# Removing non-ordinal (nominal features)
nonordinal_features = ['Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 
                    'Scholarship holder', 'International', 'Marital Status', 'Daytime/evening attendance	', 'Application mode', 'Application order',
                    'Course', 'Previous qualification', "Mother's qualification", "Father's qualification",
                    "Mother's occupation", "Father's occupation", 'Nacionality', 'Marital status']

filtered_dataset = raw_data.drop(columns=nonordinal_features, errors='ignore', axis=1)
print(filtered_dataset)

     Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0     1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1     1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...
2     1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0...
3     1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;...
4     2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;...
...                                                 ...
4419  1;1;6;9773;1;1;125.0;1;1;1;5;4;122.2;0;0;0;1;1...
4420  1;1;2;9773;1;1;120.0;105;1;1;9;9;119.0;1;0;1;0...
4421  1;1;1;9500;1;1;154.0;1;37;37;9;9;149.5;1;0;0;1...
4422  1;1;1;9147;1;1;180.0;1;37;37;7;4;153.8;1;0;0;1...
4423  1;10;1;9773;1;1;152.0;22;38;37;5;9;152.0;1;0;0...

[4424 rows x 1 columns]

In [ ]:
filtered_dataset['Target'] = filtered_dataset['Target'].map({'Graduate': 1, 'Enrolled': 1, 'Dropout': 0})

Renaming labels to 1 for graduated/enrolled and 0 for dropout. Checking percent of 1 labels.

In [47]:

labels = filtered_dataset['Target']

count = 0
for index, value in labels.items():
    if value == 1:
        count+= 1

print(f'percent of graduate/enrolled students is {count/len(labels)}')

percent of graduate/enrolled students is 0.6787974683544303

67 percent of the instances are enrolled in school or have graduated. From what I have read, this might be too big of an imbalance, but we can decide later. Now we will test the ratio if we kept all 3 labels. 
```
filtered_dataset['Target'] = filtered_dataset['Target'].map({'Graduate': 2, 'Enrolled': 1, 'Dropout': 0})
labels = filtered_dataset['Target']
count_g = 0
count_e = 0
for index, value in labels.items():
    if value == 1:
        count_e+= 1
    if value == 2:
        count_g+= 1 
print(f'enrolled: {count_e/len(labels)}\ngraduated: {count_g/len(labels)}\ndropout: {(count_g-count_e)/len(labels)}')
```
results: 
enrolled: 0.1794755877034358
graduated: 0.4993218806509946
dropout: 0.3198462929475588

Now, the data gets normalized,

In [49]:
from sklearn.preprocessing import MinMaxScaler

features = filtered_dataset.columns.drop('Target')

# Normalize scale of columns (so that all values are scaled between 0 and 1). Labels stay attached so that data can be split up.
Scaler = MinMaxScaler()
filtered_dataset[features] = Scaler.fit_transform(filtered_dataset[features])


filtered_dataset.head()

,Previous qualification (grade),Admission grade,Age at enrollment,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.284211,0.340000,0.056604,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.00,0.000000,0.0,0.372093,0.488889,0.766182,0
1,0.684211,0.500000,0.037736,0.0,0.230769,0.133333,0.230769,0.741722,0.0,0.0,0.26087,0.181818,0.30,0.735897,0.0,0.732558,0.111111,0.640687,1
2,0.284211,0.313684,0.037736,0.0,0.230769,0.000000,0.000000,0.000000,0.0,0.0,0.26087,0.000000,0.00,0.000000,0.0,0.372093,0.488889,0.766182,0
3,0.284211,0.258947,0.056604,0.0,0.230769,0.177778,0.230769,0.711447,0.0,0.0,0.26087,0.303030,0.25,0.667692,0.0,0.209302,0.000000,0.124174,1
4,0.052632,0.489474,0.528302,0.0,0.230769,0.200000,0.192308,0.653422,0.0,0.0,0.26087,0.181818,0.30,0.700000,0.0,0.732558,0.111111,0.640687,1

Seperating the training and test sets, then performing 5 fold cross validation.
Since each fold is a np array, currently accessing the split needs to be done by index. 0 represents the training split, 1 represents the test split.

For example - to access the training data in the 3rd fold, call this: folds[2][0]. The first index is the fold, the second is the split.

In [ ]:
from sklearn.model_selection import KFold

data = np.array(filtered_dataset) #convert to numpy array
m = int(0.8 * len(filtered_dataset)) #80/20 split
training_data = data[:m]
test_data = data[m:]


# KFold split
kf = KFold(n_splits=5)
folds = []
for i, (train_index, val_index) in enumerate(kf.split(training_data)):
    train_split, val_split = training_data[train_index], training_data[val_index]
    folds.append((train_split, val_split))
    print(f"Fold {i+1}:\nTrain shape: {train_split.shape}, Val shape: {val_split.shape}")
    print(f"Train indices: {train_index}")
    print(f"Validation indices: {val_index[:10]} ... {val_index[-10:]}\n")

Fold 1:
Train shape: (2831, 19), Val shape: (708, 19)
Train indices: [ 708  709  710 ... 3536 3537 3538]
Validation indices: [0 1 2 3 4 5 6 7 8 9] ... [698 699 700 701 702 703 704 705 706 707]

Fold 2:
Train shape: (2831, 19), Val shape: (708, 19)
Train indices: [   0    1    2 ... 3536 3537 3538]
Validation indices: [708 709 710 711 712 713 714 715 716 717] ... [1406 1407 1408 1409 1410 1411 1412 1413 1414 1415]

Fold 3:
Train shape: (2831, 19), Val shape: (708, 19)
Train indices: [   0    1    2 ... 3536 3537 3538]
Validation indices: [1416 1417 1418 1419 1420 1421 1422 1423 1424 1425] ... [2114 2115 2116 2117 2118 2119 2120 2121 2122 2123]

Fold 4:
Train shape: (2831, 19), Val shape: (708, 19)
Train indices: [   0    1    2 ... 3536 3537 3538]
Validation indices: [2124 2125 2126 2127 2128 2129 2130 2131 2132 2133] ... [2822 2823 2824 2825 2826 2827 2828 2829 2830 2831]

Fold 5:
Train shape: (2832, 19), Val shape: (707, 19)
Train indices: [   0    1    2 ... 2829 2830 2831]
Validation indices: [2832 2833 2834 2835 2836 2837 2838 2839 2840 2841] ... [3529 3530 3531 3532 3533 3534 3535 3536 3537 3538]