In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/significant-features-data.csv')
data.head()

,Previous qualification (grade),Admission grade,Age at enrollment,Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Unemployment rate,Inflation rate,GDP,Target,y_labels
0,0.284211,0.340000,0.056604,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.00,0.000000,0.372093,0.488889,0.766182,Dropout,0.0
1,0.684211,0.500000,0.037736,0.230769,0.133333,0.230769,0.741722,0.0,0.26087,0.181818,0.30,0.735897,0.732558,0.111111,0.640687,Graduate,1.0
2,0.284211,0.313684,0.037736,0.230769,0.000000,0.000000,0.000000,0.0,0.26087,0.000000,0.00,0.000000,0.372093,0.488889,0.766182,Dropout,0.0
3,0.284211,0.258947,0.056604,0.230769,0.177778,0.230769,0.711447,0.0,0.26087,0.303030,0.25,0.667692,0.209302,0.000000,0.124174,Graduate,1.0
4,0.052632,0.489474,0.528302,0.230769,0.200000,0.192308,0.653422,0.0,0.26087,0.181818,0.30,0.700000,0.732558,0.111111,0.640687,Graduate,1.0

In [3]:
feature_columns = data.columns.drop(['Target', 'y_labels'])
X = data[feature_columns].to_numpy(dtype=float)
y = data['y_labels'].to_numpy(dtype=int)